<ion-slide-box on-slide-changed="slideHasChanged(index)" class="slidebox" show-pager="false">
	<ion-slide class="slideitem">
		<div class="box box1">
			<h1 ng-class="{moveleft:index==0}">内行说门道</h1>
			<div class="img" ng-class="{zoom:index==0}">
				<img src="img/1.png" />
				<p>产品经理</p>
			</div>
			<div class="img" ng-class="{zoom:index==0}">
				<img src="img/2.png" />
				<p>法医</p>
			</div>
			<div class="img" ng-class="{zoom:index==0}">
				<img src="img/3.png" />
				<p>评香师</p>
			</div>
			<div class="img" ng-class="{zoom:index==0}">
				<img src="img/4.png" />
				<p>电影特效师</p>
			</div>
			<div class="img" ng-class="{zoom:index==0}">
				<img src="img/5.png" />
				<p>珠宝鉴定师</p>
			</div>
			<div class="img" ng-class="{zoom:index==0}">
				<img src="img/6.png" />
				<p>入殓师</p>
			</div>
			<div class="img" ng-class="{zoom:index==0}">
				<img src="img/7.png" />
				<p>检察官</p>
			</div>
			<div class="img" ng-class="{zoom:index==0}">
				<img src="img/8.png" />
				<p>荷兰清洁工</p>
			</div>
			<div class="img" ng-class="{zoom:index==0}">
				<img src="img/9.png" />
				<p>狱警</p>
			</div>
			<div class="img" ng-class="{zoom:index==0}">
				<img src="img/10.png" />
				<p>缉毒警</p>
			</div>
			<div class="img" ng-class="{zoom:index==0}">
				<img src="img/11.png" />
				<p>搭讪培训师</p>
			</div>
			<div class="img" ng-class="{zoom:index==0}">
				<img src="img/12.png" />
				<p>理财师</p>
			</div>

		</div>
	</ion-slide>
	<ion-slide class="slideitem">
		<div class="box box2">
			<div class="row" style="padding:20px 0 0 0">
				<div class="col col-50 c1" ng-class="{moveleft:index==1}">
					<img src="img/2_1.png" />
				</div>
				<div class="col c2" ng-class="{moveleft:index==1}">
					<div class="middle">
						<h2>「赞同」</h2>
						<p>犀利！不能同意更多</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col c3" ng-class="{moveleft:index==1}">
					<div class="middle">
						<h2>「反对」</h2>
						<p>Nono,那可不一定哦</p>
					</div>
				</div>
				<div class="col col-50 c4" ng-class="{moveleft:index==1}">
					<img src="img/2_2.png" />
				</div>
			</div>
			<div class="row">
				<div class="col col-50 c5" ng-class="{moveleft:index==1}">
					<img src="img/2_3.png" />
				</div>
				<div class="col c6" ng-class="{moveleft:index==1}">
					<div class="middle">
						<h2>「感谢」</h2>
						<p>嗯哼，虽不明但觉厉</p>
					</div>
				</div>
			</div>
		</div>
	</ion-slide>
	<ion-slide class="slideitem">
		<div class="box box3">
			<h1 ng-class="{moveleft:index==2}">什么是正确的提问姿势</h1>
			<div class="row">
				<div class="col c1" ng-class="{moveleft:index==2}">
					<div class="middle">
						<h2>你的问题并不孤单</h2>
						<p>现成回答，等你来搜</p>
					</div>
				</div>
				<div class="col col-50 c2" ng-class="{moveleft:index==2}">
					<img src="img/3_1.png" />
				</div>
			</div>
			<div class="row">

				<div class="col col-50 c3" ng-class="{moveleft:index==2}">
					<img src="img/3_2.png" />
				</div>
				<div class="col c4" ng-class="{moveleft:index==2}">
					<div class="middle">
						<h2>人家真的很好奇嘛</h2>
						<p>认真思考的问题最萌</p>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: -20px;">
				<div class="col c5" ng-class="{moveleft:index==2}">
					<div class="middle">
						<h2>我的问题很「贴」哦</h2>
						<p>言辞贴切，书写无误</p>
					</div>
				</div>
				<div class="col col-50 c6" ng-class="{moveleft:index==2}">
					<img src="img/3_3.png" />
				</div>

			</div>
		</div>
		</div>
	</ion-slide>
	<ion-slide class="slideitem">
		<div class="box box4">
			<h1 ng-class="{moveleft:index==3}">只为回答一个问题</h1>
			<div class="row">
				<div class="col col-33 c1" ng-class="{moveleft:index==3}">
					<img src="img/4_1.png" />
				</div>
				<div class="col c2" ng-class="{moveleft:index==3}">
					<div class="middle">
						<p>他吃遍了香港的午餐肉</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col c3" ng-class="{moveleft:index==3}">
					<div class="middle">
						<p>她看遍了国内的恐怖片</p>
					</div>
				</div>
				<div class="col col-50 c4" ng-class="{moveleft:index==3}">
					<img src="img/4_2.png" />
				</div>
			</div>
			<div class="row">
				<div class="col col-33 c5" ng-class="{moveleft:index==3}">
					<img src="img/4_3.png" />
				</div>
				<div class="col c6" ng-class="{moveleft:index==3}">
					<div class="middle" style="height: 60px;">
						<p>他DIY全方位拍摄系统</p>
						<p>用2年时间观察</p>
						<p>独自在家的喵</p>
					</div>
				</div>
			</div>
		</div>
	</ion-slide>
	<ion-slide class="slideitem">
		<div class="box box5">
			<h1 ng-class="{moveleft:index==4}">你能找到</h1>
			<div class="row">
				<div class="col c1" ng-class="{moveleft:index==4}">
					<img src="img/5_1.png" />
					<p>好工作</p>
				</div>
				<div class="col c2" ng-class="{moveleft:index==4}">
					<img src="img/5_2.png" />
					<p>好知己</p>
				</div>
				<div class="col c3" ng-class="{moveleft:index==4}">
					<img src="img/5_3.png" />
					<p>好搭档</p>
				</div>
			</div>
			<h2 ng-class="{moveleft:index==4}">你还可能</h1>
			<div class="row">
				<div class="col c4" ng-class="{moveleft:index==4}">
					<img src="img/5_4.png" />
					<p>成大牛</p>
				</div>
				<div class="col c5" ng-class="{moveleft:index==4}">
					<img src="img/5_5.png" />
					<p>出本书</p>
				</div>
				<div class="col c6" ng-class="{moveleft:index==4}">
					<img src="img/5_6.png" />
					<p>掘桶金</p>
				</div>
			</div>
		</div>
	</ion-slide>
	<ion-slide class="slideitem">
		<div class="box box6">
			<div class="zhihu" ng-class="{move:index==5}">
				<h2>知乎</h2>
				<p>与世界分享</p>
				<p>你的知识、经验和见解</p>
			</div>
		</div>
	</ion-slide>
</ion-slide-box>
<div class="button_container">
	<div class="pager">
		<span class="act"></span><span></span><span></span><span></span><span></span><span></span><span></span>
	</div>
	<ion-scroll scroll-bar-y="false" style="height: 30px;">
		<p>观而思--知乎漫游指南</p>
		<p>思而动--知乎漫游指南</p>
		<p>动而问--知乎漫游指南</p>
		<p>问而答--知乎漫游指南</p>
		<p>答而得--知乎漫游指南</p>
		<p> </p>
	</ion-scroll>
	<div class="button-bar">
		<a class="button button_login" ng-click="openModal()">登陆或注册</a>
		<a class="button button_look" href="#/menu/home">随便看看</a>
	</div>
</div>