<ion-side-menus enable-menu-with-back-views="false">

	<ion-side-menu-content>
		<ion-nav-bar class="bar-positive">
			<ion-nav-back-button>
			</ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>
			<ion-nav-buttons side="right">
				<button class="button button-icon button-clear ion-android-more-vertical"  ng-click="openModal()">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>

		<ion-nav-view name="menu-home"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left"  ng-controller="menusideCtrl">
		<ion-content>
			<div class="menu_top">
				<img src="img/menu_top.jpg" />
			</div>
			<div class="list">
				<a class="item item-icon-left" href="#" ng-click="openModal();toggleLeft">
					<i class="icon ion-person-stalker"></i> 登陆或注册
				</a>
				<a class="item" href="#" style="color:#727272 ;">
					其他账号登录
				</a>
				<a class="item item-icon-left bordernone" href="#">
					<i class="icon ion-email" style="color:#d52c29"></i> 微博登陆
				</a>
				<a class="item item-icon-left bordernone" href="#">
					<i class="icon ion-chatbubble-working" style="color: #00bd08;"></i> 微信登陆
				</a>
				<a class="item item-icon-left bordernone" href="#">
					<i class="icon ion-mic-a" style="color:#2dbefd"></i> QQ登陆
				</a>
				<a class="item" href="#" >
					切换主题
				</a>
				<a class="item bordernone" href="#" >
					设置
				</a>

			</div>
		</ion-content>
	</ion-side-menu>

</ion-side-menus>