<div class="modal">
	<ion-header-bar class="bar-positive">
		<div class="buttons" ng-click="closeModal()">
			<button class="button button-icon button-clear ion-ios-arrow-back"></button>
		</div>
		<h1 class="title">关于</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list list-inset" style="border:1px solid rgb(221,221,221)">
			<a class="item item-thumbnail-left" href="#" style="border: none;">
				<img src="img/zhihu.jpg" style="max-height: none;height: auto;">
				<h2>知乎</h2>
				<p style="white-space: normal;">2.4.0<br />以问答了解世界，发现更多精彩观点，认真，你就赢了!</p>
			</a>
			<div class="row padding">
					<button class="col">分享APP</button>
					<button class="col">下载新版本</button>
				</div>
		</div>
		<div class="list list-inset">
			<div class="item" style="text-align: center;">
				评价我们
			</div>
		</div>
		<div class="list list-inset">
			<div class="item" style="text-align: center;">
				意见反馈
			</div>
		</div>
		<div style="text-align: center;color: #ccc;">知乎协议</div>
	</ion-content>
</div>